body{
    margin: 1rem;
    background-color: #F0F2F5;
}

nav > a {
    display: flex;
    justify-content: flex-end;
}

aside{
    display: flex;
    flex-direction: column;
}

aside > img{
    align-self: center;
    border-radius: 200px;
    margin-bottom: 1rem;
    width: 250px;
}

aside > input{
    align-self: center;
    width: 50%;
    border-radius: 20px;
    border: none;
    padding: 15px 20px;
    background-color: #fff;
}

#login{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 220px 200px 50px;
    background-color: #fff;
    border-radius: 10px;
    height: 500px;
    margin: 1rem 1rem 2rem 1rem;
    text-align: center;
} 

.login-form input{
    margin-bottom: 1rem;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #F0F2F5;
    width: 80%;
    cursor: pointer;
}

.after-login-form{
    background-color: gray !important;
    width: 100%;
    cursor: pointer;
    color: white;
}

main > section {
    max-width: 1200px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}

.dietSection{
    max-width: 1200px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    background-color:darkturquoise;
}

.dietSection:hover{
    background-color:cadetblue !important;
    color: #fff;
}

main > section > article {
    justify-self: center;
    margin: 2rem 0;
}

article > img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

article > div {
    background-color: #fff;
    margin-top: -23px;
    padding: 0.5rem;
}

footer{
    display: grid;
    grid-template-columns: repeat(1,1fr); 
    /*grid-template-rows: 150px 10px; */
    margin: 50px 0;
}

div > img{
    border-radius: 60px;
}

/*Start of DietAgency.html*/
main > div{
    text-align: center;
    margin-top: 1em;
}

.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
} 

.info i {
    margin: 10px 0;
}

/*Start Form*/
main > div > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div > form > input, textarea{
    margin-top: 1em;
    padding: 1em 2em;
    width: 300px;
    border-radius: 30px;
    border: none;
}

div > form > input[type=submit]{
    background-color: #04AA6D;
    width: 300px;
    color: #fff;
    cursor: pointer;
}
/*End Form*/
/*End of DietAgency.html*/

/*Start diets.html*/

/*End diet.html*/

/*Start bottom navMenu*/
.navbar{
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: -15px;
    height: 40px;
}

.navbar a {
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

/*End bottom navMenu*/

/*Diet Details*/

.subnav{
    overflow: hidden;
    border-bottom: 2px solid gray;
    background-color: #1f1f1f;
    margin-top: 0;
}

.subnav h3{
    /* width: 100%; */
    outline: none;
    border: none;
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
}

.subnav-content{
    display: none;
    position: relative;
    left: 0;
    width: 100%; 
     z-index: 1;
}

.subnav:hover .subnav-content {
    display: block;
}

.subnav-content ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
.subnav-content ul li {
    cursor: pointer;
    /* position: relative; */
    
    padding: 12px 8px 12px 4px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
    /* make the list items unselectable */
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

/* Set all odd list items to a different color (zebra-stripes) */
.subnav-content ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.subnav-content ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.subnav-content ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/*End Diet Details*/